.page {
    padding: var(--length-md);
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 0;
    mask-image: linear-gradient(to bottom, var(--color-neutral-0) 40%, transparent 60%);
    mask-size: 100% 240%;
    mask-position: 0 100%;
    animation: reveal 1.5s ease-out forwards var(--duration-medium);
}

.title {
    font-weight: normal;
    margin-bottom: var(--length-md);
}

.terminal {
    font-family: var(--font-trispace);
    background-color: var(--color-neutral-0);
    color: var(--color-neutral-50);
    padding: var(--length-md);
    border-radius: var(--length-2xs);
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    flex-grow: 1;
    min-height: 0;
    overflow-y: auto;
}

.terminal::selection {
    background-color: #e6e6e6;
    color: var(--color-neutral-0);
}

.terminalLine {
    display: flex;
    min-width: 0;
}

.warning {
    color: rgb(185, 185, 73);
}

.note {
    color: rgb(140, 172, 231);
}

.editableArea {
    flex-grow: 1;
    outline: none;
    font-family: inherit;
    color: inherit;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    min-width: 0;
    word-break: break-all;
}

@keyframes reveal {
    to {
        mask-position: 0 0;
    }
}
