.main {
    display: flex;
    gap: 2rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.windowContainer {
    width: 100%;
    height: 100%;
    max-height: 500px;
    max-width: 700px;
}

.aboutMeContainer {
    max-width: 400px;
    flex-shrink: 2;
}

@media (max-width: 727px) {
    .main {
        flex-direction: column;
    }

    .windowContainer {
        max-height: none;
        max-width: none;
    }
}

@media (max-width: 199px) {
    .main::before {
        content: '{TH3_S7YLE5_D3BU6G3R}';
        background-color: black;
        color: white;
        width: 100vw;
        height: 100vh;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 5vw;
    }
}