.container {
    display: inline-block;
    color: black;
}

.letter {
    display: inline-block;
    width: 1ch;
    text-align: center;
    transition: .5s var(--default-cubic-bezier);
    animation: hint 5s ease-in-out infinite;
    animation-delay: calc(var(--i) * .2s);
    color: rgb(194, 194, 194);
}

.active {
    translate: 0 -10%;
    rotate: -360deg;
    transition: .5s var(--default-cubic-bezier);
}

.completed .active {
    translate: 0 0;
    animation: completed 1s var(--default-cubic-bezier);
    animation-delay: calc(var(--i) * .2s);
}

@keyframes hint {
    0%, 20%, 100% {
        transform: translateY(0%);
    }
    10% {
        transform: translateY(-10%);
    }
}

@keyframes completed {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}