:root {
	--default-spacing: 1.5rem;
	--default-cubic-bezier: cubic-bezier(0.32, 0.08, 0.00, 1.00);
	--default-transition: all .2s var(--default-cubic-bezier);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font-trispace), sans-serif;
}

html,
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}