.navBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--default-spacing);
    animation: slideUp 1s var(--default-cubic-bezier) 1s both;
    transition: var(--default-transition);
}

.navList {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    background-color: rgb(219, 219, 219);
    border-radius: 20px;
    corner-shape: squircle;
    padding: 0 var(--default-spacing);
    gap: var(--default-spacing);
}

.navItem {
    position: relative;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    transition: var(--default-transition);
    border: 1px solid transparent;
    border-radius: 50px;
}

.navLink:hover .navItem {
    transform: translateY(-40%) scale(1.1);
    transition: var(--default-transition);
    background-color: rgb(219, 219, 219);
    border-style: squircle;
    border-radius: 10px;
    box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.2);
}

.navItem::after {
    content: attr(aria-label);
    position: absolute;
    bottom: 120%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--default-transition);
    transform: scale(0.5);
}

.navLink:hover .navItem::after {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

@media (max-width: 800px) {
    .navBar {
        position: static;
        margin-bottom: 0;
    }

    /* .navItem::after {
        bottom: 0;
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    } */
}

@keyframes slideUp {
    from {
        transform: translateY(calc(100% + var(--default-spacing)));
    }
    to {
        transform: translateY(0);
    }
}