.navBar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--default-spacing);
    animation: slideUp 1s var(--default-cubic-bezier) 1s both;
    transition: var(--default-transition) .1s;
}

.navList {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(8, 8, 8);
    border-radius: 20px;
    corner-shape: squircle;
    padding: 0 var(--default-spacing);
    gap: var(--default-spacing);
    transition: var(--default-transition) .1s;
}

.navLink {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navContent {
    position: relative;
    color: rgb(197, 197, 197);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 10px;
    border-style: squircle;
    transition: var(--default-transition);
}

.navLink:hover .navContent {
    transform: translateY(-20%);
    background-color: rgb(37, 37, 37);
    transition: var(--default-transition);
}

.navContent::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 120%;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.5);
    transition: var(--default-transition), bottom .2s var(--default-cubic-bezier) .2s;
    font-size: .9rem;
    color: rgb(219, 219, 219);
}

.navLink:hover .navContent::after {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

@media (max-width: 600px) {
    .navBar {
        position: static;
        margin-bottom: 0;
        transition: var(--default-transition) .1s;
    }

    .navList {
        flex: 1;
        border-radius: 0;
        corner-shape: none;
        transition: var(--default-transition) .1s;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(calc(100% + var(--default-spacing)));
        opacity: 0;
    }
    50% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.secretItem {
    animation: popIn .5s var(--default-cubic-bezier) both;
}

@keyframes popIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.active .navContent {
    background-color: rgb(20, 20, 20);
}