.spotifyPlayer {
    display: flex;
    align-items: center;
    gap: clamp(var(--space-sm), 3vw, var(--length-md));
    border: var(--border-width-thin) solid var(--color-accent-success);
    border-radius: 0 var(--length-2xs) var(--length-2xs) var(--length-2xs);
    background-color: var(--color-page-bg);
    padding: var(--space-sm);
    min-width: 0;
}

.img {
    width: clamp(48px, 14vw, 64px);
    height: clamp(48px, 14vw, 64px);
    flex-shrink: 0;
    border-radius: var(--radius-circle);
    animation: spin 20s linear infinite;
}

.details {
    display: flex;
    flex-direction: column;
    gap: var(--space-sm);
    min-width: 0;
    width: 100%;
}

.name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: var(--color-neutral-50);
}

.author {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgb(161, 161, 161);
    font-size: var(--font-size-sm);
}

.progressBar, .progressBar::-webkit-progress-bar {
    appearance: none;
    width: 100%;
    height: var(--space-sm);
    overflow: hidden;
    background-color: var(--color-neutral-850);
    border-radius: var(--length-md);
}

.progressBar::-webkit-progress-value, .progressBar::-moz-progress-bar {
    background-color: var(--color-accent-success);
    border-radius: var(--length-md);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
