.page {
    height: 100%;
    min-height: 0;
    display: flex;
    flex-direction: column;
    padding: var(--length-md);
    gap: var(--length-md);
    overflow: hidden;
}

.header {
    display: flex;
    gap: var(--length-md);
}

.link {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    border: var(--border-width-medium) solid;
    padding: var(--space-sm) var(--length-md);
    border-radius: var(--radius-sm);
    font-size: var(--length-md);
    transition: var(--default-transition);
}

.icon {
    width: 24px;
    height: auto;
}

.hr {
    border: none;
    border-top: var(--border-width-medium) solid;
}

.link:hover {
    background-color: rgba(100, 100, 100, 0.1);
    transition: var(--default-transition);
}

@media (max-width: 799px) {
    .header {
        flex-wrap: wrap;
    }

    .link {
        flex: 1 1 0;
        justify-content: center;
        min-width: 0;
    }
}
