.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 0;
    padding: var(--length-md);
    gap: var(--length-md);
    opacity: 0;
    animation: fadeIn var(--duration-slow) ease-out forwards var(--duration-normal);
}

.bio {
    display: flex;
    flex-direction: column;
    gap: var(--length-md);
    min-width: 0;
}

.bioTitle {
    font-weight: normal;
    font-size: 1.2rem;
}

.bioBox {
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: var(--length-md);
    font-size: var(--length-md);
    line-height: 1.2rem;
    font-weight: 300;
    overflow-wrap: anywhere;
}

.timezone {
    text-align: end;
}

.status {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 0;
    background-color: var(--color-page-bg);
    border-radius: var(--radius-sm);
    padding: var(--space-sm);
    min-width: 0;

    transition: 
        opacity var(--duration-medium) var(--default-cubic-bezier),
        flex-grow var(--duration-medium) var(--default-cubic-bezier) var(--duration-medium),
        gap var(--duration-medium) var(--default-cubic-bezier) var(--duration-medium);
}

.status.showSpotify {
    transition:
        opacity var(--duration-medium) var(--default-cubic-bezier),
        flex-grow var(--duration-medium) var(--default-cubic-bezier);
}

.statusCardGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: var(--space-sm);
}

.statusCard {
    display: flex;
    align-items: center;
    gap: .3rem;
    border-radius: var(--length-2xs);
    padding: var(--length-2xs) calc(var(--length-2xs) * 2);
    background-color: var(--color-page-bg);
}

.presenceCard {
    border: var(--border-width-thin) solid transparent;
}

.online {
    color: var(--color-status-online);
    border-color: var(--color-status-online);
}

.busy {
    color: var(--color-status-busy);
    border-color: var(--color-status-busy);
}

.idle {
    color: var(--color-status-idle);
    border-color: var(--color-status-idle);
}

.offline {
    color: var(--color-status-offline);
    border-color: var(--color-status-offline);
}

.activityCard {
    color: var(--color-accent-activity);
    border: var(--border-width-thin) solid var(--color-accent-activity);
    min-width: 0;
    overflow: hidden;
}

.statusIcon {
    flex-shrink: 0;
}

.currentActivity {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-width: 0;
}

.spotifyBox {
    max-height: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    pointer-events: none;
    transform: scale(.5);
    filter: blur(10px);
    transition:
    opacity var(--duration-medium) var(--default-cubic-bezier),
    transform var(--duration-medium) var(--default-cubic-bezier),
    filter var(--duration-medium) var(--default-cubic-bezier),
    margin-top var(--duration-slow) var(--default-cubic-bezier) var(--duration-medium),
    max-height var(--duration-slow) var(--default-cubic-bezier) var(--duration-medium);
}

.spotifyBox.showSpotify {
    max-height: 200px;
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    filter: blur(0);
    margin-top: var(--length-md);
    transition:
        opacity var(--duration-medium) var(--default-cubic-bezier) var(--duration-slow),
        transform var(--duration-medium) var(--default-cubic-bezier) var(--duration-slow),
        filter var(--duration-medium) var(--default-cubic-bezier) var(--duration-slow),
        margin-top var(--duration-slow) var(--default-cubic-bezier) var(--duration-medium),
        max-height var(--duration-slow) var(--default-cubic-bezier) var(--duration-medium);
}

.boxIndicator {
    color: var(--color-accent-success);
    border: var(--border-width-thin) solid var(--color-accent-success);
    width: fit-content;
    border-end-start-radius: 0;
    border-end-end-radius: 0;
    border-bottom: none;
    margin-bottom: calc(var(--border-width-thin) * -1);
    background-color: var(--color-page-bg);
    position: relative;
    z-index: 1;
}

.status.inactive {
    opacity: 0;
    transition: opacity var(--duration-medium) var(--default-cubic-bezier);
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
